<app-loginsuccess></app-loginsuccess>
<div class="list-group">
    <a routerLink="/thalappakkatti" class="list-group-item list-group-item-action thalappa" aria-current="true">
      <div class="d-flex w-100 justify-content-between ">
        <h5 class="mb-1">Dindugal Thalappakkatti Restaurant</h5>
        <small style="color: white; background-color: green;border-radius: 25%; ">Open</small>
      </div>
      <p class="mb-1">Click to visit our Page</p>
      <small >Halaal</small>
    </a>
    <a routerLink="/a2b" class="list-group-item list-group-item-action thalappa">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">A 2 B</h5>
        <small style="color: white; background-color: green;border-radius: 25%; ">Open</small>
      </div>
      <p class="mb-1">Click to visit our Page</p>
      <small >Order your delicious snacks!</small>
    </a>
    <a routerLink="/corner"   class="list-group-item list-group-item-action thalappa">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">Corner Bakery</h5>
        <small style="color: white; background-color: green;border-radius: 25%; ">Open</small>
      </div>
      <p class="mb-1">Click to visit our Page</p>
      <small >Best and quality Cakes available!</small>
    </a>
  </div>
